@import "keen-slider/keen-slider.min.css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@source "./";

.wp-block-hamworks-carousel-gallery-block.is-loading {
	opacity: 0;
}

.wp-block-hamworks-carousel-gallery-block__image img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
