@import "keen-slider/keen-slider.min.css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@source "./";

.wp-block-hamworks-carousel-gallery-block.is-loading {
	opacity: 0;
}

.wp-block-hamworks-carousel-gallery-block__images {
	position: relative;
}

.wp-block-hamworks-carousel-gallery-block__image {
	min-width: 0;
	flex: 0 0 auto;
	
	& img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

/* CSS for proper slide widths when using KeenSlider with perView: 1.5 */
.keen-slider__slide.wp-block-hamworks-carousel-gallery-block__image {
	width: 100%;
	flex: 0 0 auto;
}
